
.hero-text{
    z-index: 50;
    position: fixed;
}
.hero-text *{
    padding-left: 25%;
    font-family: Avenir;
    padding-right: 25%;
    color: white;
    z-index: 100;

}


.left-half h2{
    padding-left: 20%;
    font-family: Avenir;
    font-size: 25px;
    
    
}
#top-line{
    padding-top: 17%;
}

.sub-taglines{
    padding-top: 3%;
}

#credit{
    padding-left: 5%;
    padding-top: 25%;
}

.right-half{
    background: url(../img/waves-bg.jpg);
    
}

.navbar{
    box-shadow: none !important;
    z-index: 100 !important;
}

.nav-link{
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 20px !important;
    font-family: avenir !important;
    color: white !important;
}




.video-bg{
    width:100%;
    height:100%;
    display:absolute;
    justify-content: center; 
    align-items: center;
    object-fit: cover;
    
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 0;
    object-fit: cover;
    
  }
@media only screen and (max-width: 780px){
    .left-half{
        grid-area: left-half;
        height: 750px;
        width: 500px;
    }

    .left-half h2{
        font-size: 16px;
        color: grahite;
    }
    .right-half{
        grid-area: right-half;
        height: 750px;
        width: 500px;
       background-color: black;
       background-image: none;
    }
   

    button.navbar-toggler{
        background-color: #52526c;
        border-radius: 5px;
        box-shadow: 1px 1px #979797;
    }

}